<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Sport car</title>
</head>
<body>
    <h1>Create sport car</h1>
    <form action="/createSportcar" method="post">
        <label>Enter car type</label>
        <input type="text" name="type"/>
        <label>Enter car brand</label>
        <input type="text" name="brand"/>
        <label>Enter car model</label>
        <input type="text" name="model"/>
        <label>Enter car fueltype</label>
        <input type="text" name="fuelType"/>
        <label>Enter the plate</label>
        <input type="text" name="plate"/>
        <label>Enter Registration month and year MM/YYYY</label>
        <input type="text" name="regYearAndMonth"/>
        <label>Enter driven KM</label>
        <input type="text" name="drivenKM"/>
        <label>Enter gear type</label>
        <input type="text" name="gearType"/>
        <label>Enter Horse powers</label>
        <input type="text" name="horsePower"/>
        <input style="background-color: cyan" type="submit" value="Create new car">
    </form>
</body>
</html>